* {
    box-sizing: border-box;
}



body, html {
    font-size: 100%;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Microsoft YaHei","Segoe UI", "Lucida Grande", Helvetica, Arial, sans-serif;
    background: #ffffff;
    color: white;
    padding: 0;
    text-align: center;
}
.page {
    background: #f5f5f5;
    padding: 0;
    margin: 0;
    /*width: 100%;*/
}

.header {
    vertical-align: middle;
    background: #2E353F;
    padding: 0;
    margin: 0;
    min-width: 1200px;
    width: 100%;
    float: left;
}

.c-top-s{
    margin-top: 40px;
}

.middle{
    vertical-align: middle;
    padding: 0;
    margin: 0;
    min-width: 1200px;
    width: 100%;
    float: left;
}


.h-index {

    position: relative;
    /*list-style: none;*/
    background: #2E353F;
    font-weight: 400;
    font-size: 0;
    margin: 0;
    left: 50px;
    /*margin-left: -200px;*/
    text-transform: uppercase;
    display: inline-block;
    padding: 0;
    float: left;
}

.h-index li {
    display: inline-block;
    position: relative;
    text-align: center;
    cursor: pointer;
    padding-top: 30px;
    font-size: 18px;
    z-index: 5;
    margin-right: 15px;
    min-width: 110px;
    height: 80px;
}

.content {
    width: 1200px;
    margin: 0 auto;
    background: #ffffff;

}

.h-logo {
    min-width: 120px;
    width: 120px;
    /*padding-right: 40px;*/
    margin-top: 23px;
    height: 50px;
    background: url(../img/logo2.png) no-repeat;
    background-size: 100%;
    float: left;
}

.btn_a {
    margin-left: 5px;
    float: left;
    font-size: 14px;
    color: #ffffff;
}

.index-bar {
    height: 4px;
    background: #f36f14 !important;
    position: absolute;
    bottom: 0;
    width: 110px;
    z-index: 2;
}

.index-bar-1 {
    height: 4px;
    background: #f36f14 !important;
    position: absolute;
    bottom: 0;
    margin-left: 125px;
    width: 110px;
    z-index: 2;
}

.index-bar-2 {
    height: 4px;
    background: #f36f14 !important;
    position: absolute;
    bottom: 0;
    margin-left: 250px;
    width: 110px;
    z-index: 2;
}

.kehuduan{
	display:none;
}

.h-right{
	display:none;
    width: 300px;
    margin-top: 16px;
    padding-top: 20px;

    float: right;
}
.h-right .search{
    width: 32%;
    font-size: 14px;
    background: url(../img/icon_search.png) no-repeat;
    text-indent:  24px;
    height: 20px;
    text-align: left;
    line-height: 16px;
    float: left;

}
.h-right .down{
    width: 36%;
    background: url(../img/icon_test.png) no-repeat;
    text-indent: 20px;
    height: 20px;
    line-height:16px;
    text-align: left;
    font-size: 14px;
    float: left;
}
.h-right .text{
    width: 32%;
    line-height:16px;
    font-size: 14px;
    text-align: right;
    float: left;
}
a{
    color: #ffffff;
    text-decoration: none;
}


.footer{
    vertical-align: middle;
    /*background: #2E353F;*/
    padding: 0;
    margin: 0;
    min-height: 210px;
    min-width: 1200px;
    width: 100%;
    background: #2E353F;
    float: left;
}

.footer .top{
    width: 100%;
    height: 160px;
    float: left;

}

.footer .top .left{
    /*width: 140px;*/
    height: 160px;
    font-size: 14px;
    line-height: 160px;
    float: left;
}
.m-left-0{
    margin-left: 110px;
}
.m-left-1{
    margin-left: 190px;
}
.m-left{
    margin-left: 98px;
}
.footer .top .scan-footer{
    width: 100px;
    height: 130px;
    float: left;
}

.footer .top .scan-footer .img{
    width: 100px;
    height: 100px;
    margin-top: 24px;
    background: url(../img/img_scanner.png) no-repeat;
    background-size: 100%;
    float: left;
}

 .scan-footer .img2{
    width: 100px;
    height: 100px;
    margin-top: 24px;
    background: url(../img/wechat.png) no-repeat;
    background-size: 100%;
    float: left;
}

.footer .top .scan-footer .text{
    width: 100px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
    float: left;
}


.footer .bot{
    width: 100%;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    text-align: center;
    float: left;
    color: #59677b;
    background:#222933;
}