.banner {
    width: 100%;

    float: left;
    background: #2e353f;
}

.c-top {
    margin-top: 60px;
}
.c-top-s {
    margin-top: 20px;
}

.c-scroll-bar {
    width: 100%;
    height: 90px;
    box-shadow: -1px 0 2px #f0f0f0,
        /*左边阴影*/ 2px 0 2px #f0f0f0,
        /*右边阴影*/ 0 -1px 1px #f0f0f0,
        /*右边阴影*/ 0 3px 10px #e1e1e1;
    /*clear: both;*/
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    scroll-snap-points-x: repeat(100%);
    scroll-snap-type: mandatory;
    float: left;

}

.item {
    width: 150px;
    height: 90px;
    font-size: 20px;
    line-height: 90px;
    float: left;
    text-align: center;
}

.btn-content {
    width: 1100px;
    height: 80px;
    float: left;
}

.btn-bar {
    width: 100px;
    margin-top: 5px;
    height: 80px;
    float: left;
}

.btn-bar .btn-left {
    width: 15px;
    height: 40px;
    margin-left: 10px;
    margin-right: 15px;
    margin-top: 26px;
    float: left;
}

.icon-bar-left {
    background: url(../img/main/icon_bar_left.png) no-repeat;
    background-size: 100%;
}

.icon-bar-right {
    background: url(../img/main/icon_bar_right.png) no-repeat;
    background-size: 100%;
}

.item-color-1 {
    color: #ff6700;
}

.item-color-0 {
    color: #323232;

}

.content-left {
    width: 780px;
    min-height: 800px;
    float: left;
}

.content-right {
    width: 330px;
    margin-left: 90px;
    min-height: 400px;
    float: left;
}

.content-title {
    width: 100%;
    height: 48px;
    border-bottom: 4px solid #4f7e9f;
    float: left;
}

.content-title .font-ch {
    font-size: 22px;
    text-indent: 5px;
    line-height: 40px;
    color: #4f7e9f;
    text-align: left;
    float: left;
}


.font-detail {
    font-size: 16px;
    margin-top: 12px;
    text-indent: 5px;
    line-height: 20px;
    color: #2e353f;
    text-align: left;
    float: left;
}
.font-detail-title {
    font-size: 16px;
    margin-top: 12px;
    text-indent: 5px;
    line-height: 20px;
    color: #89a7db;
    text-align: left;
    float: left;
}

.content-title .font-g {
    font-size: 22px;
    line-height: 40px;
    color: #aaaaaa;
    margin-left: 12px;
    margin-right: 10px;
    text-align: left;
    float: left;
}

.content-title .font-en {
    font-size: 14px;
    line-height: 40px;
    margin-top: 3px;
    color: #aaaaaa;
    text-align: left;
    float: left;
}

.content-list {
    padding-top: 10px;
    padding-bottom: 40px;
    float: left;
}

.content-detail{
    width: 820px;
    min-height: 400px;
    text-align: left;
    color:#323232;
    font-size: 16px;
    line-height: 32px;
    padding: 20px;
    margin-bottom: 20px;
    /*background: #cccccc;*/
    float: left;
}

.content-item {
    width: 100%;
    /*height: 180px;*/
    margin-top: 20px;
    margin-bottom: 20px;
    float: left;
}

.content-item-hot {
    width: 100%;
    /*height: 180px;*/
    margin-top: 20px;
    float: left;
}

.content-more {
    width: 100%;
    margin-top: 30px;
    background: #cccccc;
    text-align: center;
    font-size: 16px;
    line-height: 40px;
    height: 40px;
}
.content-opinion-more {
    width: 100%;
    margin-top: 10px;
    background: #f1f1f1;
    text-align: center;
    color: #4f7e9f;
    font-size: 16px;
    line-height: 40px;
    height: 40px;
}

.content-more:hover {
    width: 100%;
    margin-top: 30px;
    background: #4f7e9f;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    line-height: 40px;
    height: 40px;
}

.content-item .item-img {
    width: 260px;
    height: 180px;
    float: left;
}
.content-item-hot .item-img-hot {
    width: 120px;
    height: 84px;
    float: left;
}

.content-item .item-r {
    width: 500px;
    margin-left: 20px;
    height: 180px;
    float: left;
}
.content-item-hot .item-r-hot {
    width: 200px;
    margin-left: 10px;
    height: 80px;
    float: left;
}


.content-item .item-r .item-title {
    width: 100%;
    overflow: hidden;
    text-align: left;
    max-height: 60px;
    font-size: 22px;
    color: #323232;
    line-height: 30px;
    float: left;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.content-item .item-r .item-title:hover {
    width: 100%;
    overflow: hidden;
    text-align: left;
    max-height: 60px;
    font-size: 22px;
    color: #3e9df5;
    line-height: 30px;
    float: left;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.content-item-hot .item-r-hot .item-title {
    width: 100%;
    overflow: hidden;
    text-align: left;
    max-height: 60px;
    font-size: 16px;
    color: #323232;
    line-height: 25px;
    margin-top: -5px;
    float: left;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.content-item-hot .item-r-hot .item-title:hover {
    width: 100%;
    overflow: hidden;
    text-align: left;
    margin-top: -5px;
    max-height: 60px;
    font-size: 16px;
    color: #3e9df5;
    line-height: 25px;
    float: left;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.content-item .item-r .item-type-1 {
    height: 24px;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 6px;
    background: #95a4ff;
    font-size: 13px;
    color: #ffffff;
    line-height: 24px;
    float: left;
}

.content-item .item-r .item-type-2 {
    height: 24px;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 6px;
    background: #77be5f;
    font-size: 13px;
    color: #ffffff;
    line-height: 24px;
    float: left;
}

.content-item .item-r .item-type-3 {
    height: 24px;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 6px;
    background: #ff9595;
    font-size: 13px;
    color: #ffffff;
    line-height: 24px;
    float: left;
}

.content-item .item-r .item-type-0 {
    height: 24px;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 6px;
    background: #ff8000;
    font-size: 13px;
    color: #ffffff;
    line-height: 24px;
    float: left;
}

.content-item .item-r .item-time {
    height: 24px;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 13px;
    color: #747474;
    line-height: 24px;
    float: left;
}

.content-item-hot .item-r-hot .item-time {
    height: 24px;
    margin-top: 20px;
    font-size: 13px;
    color: #747474;
    line-height: 13px;
    float: left;
}

.content-item .item-r .item-desc {
    max-height: 72px;
    margin-top: 16px;
    font-size: 13px;
    width: 100%;
    color: #747474;
    line-height: 24px;
    float: left;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;

}

.opinion-list {

    width: 100%;
    float: left;
    margin-top: 13px;
}
.opinion-text{
    width: 100%;
    color: #323232;
    font-size: 16px;
    height:60px;
    line-height: 60px;
    overflow: hidden;
    /*height: 30px;*/
    text-align: left;
    text-indent: 4px;
    /*padding-bottom: 15px;*/
    /*padding-top: 15px;*/
    border-bottom: 1px  #cccccc dashed;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.opinion-text:hover{
    color: #3e9df5;
}


/*基本样式*/
.poster-main{
    width: 100%;
    height: 400px;
    background: #767676;
    /*margin: 0;*/
    padding: 0;

    /*top:-20px;*/
    position: relative;
    margin: 0 auto;
    clear: both;
}
.poster-main a,.poster-main img{
    display:block;
}
.poster-main .poster-list{
    width: 100%;
    height: 400px;
}
.poster-main .poster-list .poster-item{
    width: 200px;
    height: 400px;
    position:absolute;
    left:0;
    top:0;
}
.poster-main .poster-btn{
    position:absolute;
    top:0;
    z-index:10;
    cursor:pointer;
}
.poster-main .poster-prev-btn{
    left:0;
    background: url(../img/main/bar_left.png) no-repeat center center;
}
.poster-main .poster-next-btn{
    right:0;
    background: url(../img/main/bar_right.png) no-repeat center center;
}

ol,ul{list-style:none;}




h1 {
    line-height: 50px;;
    font-size: 28px;;
    color: #323232;
    padding-bottom:1rem;
}

u {
    text-decoration: none;
}

img {
    width: 100%;
    height:60%;
}

span {
    font-size: 0.9rem;
    width: 100%;
    line-height: 1.4rem;
    text-align: center;
}

p{
    font-size: 16px;
    color: #323232;
    width: 100%;
    line-height: 35px;
    /*text-align: center;*/
}

a, blockquote, body, code, dd, div, dl, dt, em, fieldset, form, h1, h2,
h3, h4, h5, h6, iframe, img, input, label, li, object, ol, p, q, small,
span, strong, table, tbody, td, th, tr, ul {
    margin: 0;
}

table {
    width: 100%;
    text-align: center;
    border-top: 1px solid #f1f1f1;
    border-left: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
    border-right: 1px solid #f1f1f1;
    /*border-top-width: 1px;*/
    /*border-right-width: 1px;*/
    /*border-bottom-width: 1px;*/
    /*border-left-width: 1px;*/
    border-spacing: 0;
    /*overflow-x: auto;*/
    font-size: .12rem;
    line-height: 1rem;;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

td, th {
    display: table-cell;
    vertical-align: inherit;
    padding: 0.2rem;
    text-align: center;
}



/*!* ===============================================================*/
/*Basic Swiper Styles*/
/*================================================================*!*/
/*.swiper-container {*/
/*margin:0 auto;*/
/*position:relative;*/
/*overflow:hidden;*/
/*-webkit-backface-visibility:hidden;*/
/*-moz-backface-visibility:hidden;*/
/*-ms-backface-visibility:hidden;*/
/*-o-backface-visibility:hidden;*/
/*backface-visibility:hidden;*/
/*!* Fix of Webkit flickering *!*/
/*z-index:1;*/
/*}*/

/*.swiper-wrapper {*/
/*position:relative;*/
/*width:100%;*/
/*-webkit-transition-property:-webkit-transform, left, top;*/
/*-webkit-transition-duration:0s;*/
/*-webkit-transform:translate3d(0px,0,0);*/
/*-webkit-transition-timing-function:ease;*/

/*-moz-transition-property:-moz-transform, left, top;*/
/*-moz-transition-duration:0s;*/
/*-moz-transform:translate3d(0px,0,0);*/
/*-moz-transition-timing-function:ease;*/

/*-o-transition-property:-o-transform, left, top;*/
/*-o-transition-duration:0s;*/
/*-o-transform:translate3d(0px,0,0);*/
/*-o-transition-timing-function:ease;*/
/*-o-transform:translate(0px,0px);*/

/*-ms-transition-property:-ms-transform, left, top;*/
/*-ms-transition-duration:0s;*/
/*-ms-transform:translate3d(0px,0,0);*/
/*-ms-transition-timing-function:ease;*/

/*transition-property:transform, left, top;*/
/*transition-duration:0s;*/
/*transform:translate3d(0px,0,0);*/
/*transition-timing-function:ease;*/
/*}*/
/*.swiper-free-mode > .swiper-wrapper {*/
/*-webkit-transition-timing-function: ease-out;*/
/*-moz-transition-timing-function: ease-out;*/
/*-ms-transition-timing-function: ease-out;*/
/*-o-transition-timing-function: ease-out;*/
/*transition-timing-function: ease-out;*/
/*margin: 0 auto;*/
/*}*/
/*!* IE10 Windows Phone 8 Fixes *!*/
/*.swiper-wp8-horizontal {*/
/*-ms-touch-action: pan-y;*/
/*}*/
/*.swiper-wp8-vertical {*/
/*-ms-touch-action: pan-x;*/
/*}*/

/*!*swiper end*!*/

/*!*slide start*!*/
/*.swiper-slide{*/
/*float: left;*/
/*width: 100%;*/
/*position: relative;*/
/*}*/
.b-img{
    width: 100%;
    height: auto;
    background-size:100%;
    background-position: center;
}
/*.pagination{*/
/*position: absolute;*/
/*left: 0;*/
/*bottom: -35px;*/
/*text-align: center;*/
/*width: 100%;*/
/*}*/


/*.swiper-pagination-switch{*/
/*display: inline-block;*/
/*width: 9px;*/
/*height: 9px;*/
/*margin: 0 8px;*/
/*cursor: pointer;*/
/*background-image: url(../images/global/element.png);*/
/*background-position: -35px 0;*/
/*}*/
/*.swiper-active-switch{*/
/*background-position: -44px 0;*/
/*}*/
/*.arrow{*/
/*width: 60px;*/
/*height: 73px;*/
/*background: #000000;*/
/*opacity: 0.2;*/
/*-moz-opacity: 0.2;*/
/*filter:alpha(opacity=20);*/
/*position: absolute;*/
/*z-index: 1000;*/
/*cursor: pointer;*/
/*top: 50%;*/
/*margin-top: -36px;*/
/*}*/

/*.arrow:hover{*/
/*opacity: 0.5;*/
/*-moz-opacity: 0.5;*/
/*filter:alpha(opacity=50);*/

/*}*/
/*.arrow .left{*/
/*position: absolute;*/
/*width: 20px;*/
/*margin-top: 14px;*/
/*margin-left:18px;*/
/*height: 45px;*/
/*left: 0;*/
/*top: 0;*/
/*background: url(../img/main/l_icon.png) no-repeat;*/
/*background-size: 100%;*/
/*}*/

/*.arrow .right{*/
/*position: absolute;*/
/*width: 20px;*/
/*margin-top: 14px;*/
/*margin-left:22px;*/
/*height: 45px;*/
/*left: 0;*/
/*top: 0;*/
/*background: url(../img/main/r_icon.png) no-repeat;*/
/*background-size: 100%;*/
/*}*/
/*.pre-arrow{*/
/*left: 0;*/
/*}*/
/*!*.pre-arrow i{*!*/
/*!*background-position: 0 -77px;*!*/
/*!*}*!*/
/*.next-arrow{*/
/*right: 0;*/
/*}*/
/*.next-arrow i{*/
/*background-position: 0 -150px;*/
/*}*/
/*.arrow-bg{*/
/*height: 73px;*/
/*background: url(../images/global/element.png) 0 -220px;*/

/*filter:alpha(opacity=0);       !* IE *!*/
/*-moz-opacity: 0;              !* 老版Mozilla *!*/
/*-khtml-opacity: 0;              !* 老版Safari *!*/
/*opacity: 0;           !* 支持opacity的浏览器*!*/

/*transition: opacity 1s;*/
/*-moz-transition: opacity 1s; !* Firefox 4 *!*/
/*-webkit-transition: opacity 1s; !* Safari 和 Chrome *!*/
/*-o-transition: opacity 1s; !* Opera *!*/
/*}*/
/*.swiper-container:hover .arrow-bg{*/
/*filter:alpha(opacity=100);       !* IE *!*/
/*-moz-opacity: 1;              !* 老版Mozilla *!*/
/*-khtml-opacity: 1;              !* 老版Safari *!*/
/*opacity: 1;           !* 支持opacity的浏览器*!*/
/*}*/
/*!*slide end*!*/




/*!*module start*!*/
/*.module{*/
/*min-width: 1000px;*/
/*}*/


/*!* index top slide start*!*/
/*.index-slide{*/
/*!*margin-bottom:30px;*!*/
/*border-top: 1px solid #d8d8d8;*/
/*}*/

.swiper-container {
    width:134%;
    position: absolute;
    left: -17%;
    height: 400px;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;

}
.main{
    position: relative;
    overflow: hidden;
    width:100%;
    min-width:1000px;
    min-height:400px;
}
/*.index-slide .swiper-container{*/
/*height:400px;*/
/*width:1000px;*/
/*position: relative;*/
/*overflow: visible;*/
/*}*/
/*.index-slide .swiper-container .slide-helper-l,*/
/*.index-slide .swiper-container .slide-helper-r{*/
/*position: absolute;*/
/*top: 0;*/
/*right:1000px;*/
/*width: 1000px;*/
/*height: 564px;*/
/*background:#000;*/
/*opacity: 0.3;*/
/*-moz-opacity: 0.3;*/
/*filter:alpha(opacity=30);*/
/*}*/
/*.index-slide .swiper-container .slide-helper-r{*/
/*right: auto;*/
/*left: 1000px;*/
/*}*/
/*.index-slide .pagination{*/
/*bottom:51px;*/
/*z-index: 2;*/
/*}*/

.title-mask{
    background:#000000;
    opacity: 0.7;
    -moz-opacity: 0.7;
    filter:alpha(opacity=70);
    /*height: 45px;*/
    width: 100%;
    position: absolute;
    bottom: 0px;
    padding: 5px;
    left:0;
    text-align: center;
}
.title-mask a{

    font-size:22px;
    color: #fff;
    line-height:45px;
    text-shadow: 0px 1px 3px #000;
}
.title-mask .des{
    color: #fff;
    font-size: 14px;
}
/*.index-slide .index-slide-line{*/
/*position: absolute;*/
/*left: 0;*/
/*bottom: -43px;*/
/*height: 41px;*/
/*width: 1000px;*/
/*background:url(../images/global/line-index.png) no-repeat center top;*/

/*}*/

.title-bar-0{
    width: 4000px; transition-duration: 500ms; transform: translate3d(-1000px, 0px, 0px);
}.title-bar-1{
     width: 4000px; transition-duration: 500ms; transform: translate3d(-2000px, 0px, 0px);
 }

