.authinfo {
	width: 95%;
	border-style: dashed;
	border-color: green;
	border-radius: 5px;
	border-width: 2px;
	margin-left: 2.5%;
	margin-top:10px;
}

.authinfo-item {
	margin: 20px;
}

.authinfo-item-key {
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: #8B989F;
	height: 40px;
	line-height: 40px;
	color: white;
}

.textarea{
	color: black;
	width: 100%;
	height: 200px;
}

.search {
	width: 50%;
	float: left;
}

.search-img {
	height: 35px;
}

.textarea {
	color: black;
	width: 95%;
	height: 200px;
}

.img-frame {
	width: 90%;
}

.user-select {
	width: 48%;
	height: 45px;
	border-radius: 5px;
	border-color: #ff001b;
	border-width: 1px;
	border-style: dashed;
}
