@CHARSET "UTF-8";
body
{
	width: 100%;
	margin: 0;
}

.upload
{
	padding-top:44px;
}
.upload-img
{
	margin-left: 25%;
	width:50%;
	height:auto;
}

.upload-desc
{
	width:90%;
}

.upload-desc-line
{
	margin-left: 2%;
	text-align: right;
	width:55%;
}

.upload-desc-line1-p
{
	font-size: 120%;
}
.upload-desc-line2-p
{
	font-size: 120%;
}
.upload-desc-line3-p
{
	font-size: 120%;
}

.menu
{
	margin-top: -10%;
}

.menu-img
{
	width:100%;
}

.menu-desc
{
	
}

.menu-desc-line
{
	margin-left: 40%;
	margin-right:5%;
	text-align: left;
	width:55%;
}

.menu-desc-line1-p
{
	font-size: 120%;
}
.menu-desc-line2-p
{
	font-size: 120%;
}
.menu-desc-line3-p
{
	font-size: 120%;
}

.upload-project
{
	margin-top: -20%;
}

.upload-project-img
{
	width:100%;
}
.upload-project-email-img
{
	width:100%;
	padding-top:10%;
}


.commit-desc
{
	margin-top: -80%;
}

.commit-desc-line
{
	margin-left: 2%;
	text-align: right;
	width:45%;
}

.commit-desc-line1-p
{
	font-size: 100%;
}
.commit-desc-line2-p
{
	font-size: 100%;
}
.commit-desc-line3-p
{
	font-size: 100%;
}

.invest
{
	margin-top: 30%;
}

.invest-img
{
	width:50%;
	padding-left: 25%;
}

.financing
{
	margin-top: -25%;
}

.financing-img
{
   width:90%;
	margin-left: 15%;
}

.financing-desc
{
	margin-top: -20%;
}

.submmit
{

}

.submmit-desc
{
	width: 55%;
	margin-left: 45%;
}
.submmit-img
{
	width: 90%;
}

.confirm-desc
{
	width: 50%;
	margin-left:50%;

}

.footer
{
	height: 40%;
}

.foot-box
{
	padding-top: 2%;
	font-size: 80%;
	text-align:center;
	padding-bottom: 20%;

}

.project-image
{
	width:100%;
}

.jinzht-dec
{
	margin-left: 2%;
	margin-right: 2%;
	margin-top: -35%;
	color: orange;
	font-size: 90%;
}
.line-separte
{
	background-color: aliceblue;
	height: 10px;
	width: 100%;
	margin-top: 20%;
}

.header-image
{
	width: 5%;
	margin-left: 3%;
	float: left;
}
.line
{
	background-color: aliceblue;
	height: 5px;
	width: 100%;
}
.project-name
{
	margin-left: 10%;
	width: 80%;
	margin-top: 4%;
}
.status
{
	margin-right: 5%;
	width: 20%;
	margin-left: 80%;
	margin-top: -285%;
	position: absolute;
}

.status-image
{
	width:70%;
	height:auto;
}

.status-name
{
	color: white;
	font-size: 100%;
	width: 30%;
	height: 150%;
	margin-top: -130%;
	margin-left: 24%;
}

.project-detail
{
	margin-top: -5%;
} 	
.total-finacne
{
	width: 100%;
	height: 20px;
}
.total-finacne-img
{
	margin-left: 5%;
	width: 5%;
	float:left;
	margin-top: 1%;
}

.finacne-image
{
	margin-top: 2%;
	margin-left:5%;
	width: 100%;
	height:auto;
}
.item-name
{
	float: left;
	margin-left: 2%;
}

.item-value
{
	margin-left: 35%;
	margin-top: 10%;
}
.project-desc
{
	margin: 5%;
}
.project-images
{
	margin-top: 5%;
}
.project-desc-image
{
	width: 30%;
	margin-left: 2%;
}

.team-images
{
}

.team-desc-image{
	width: 75px;
	height:75px;
	border-radius: 75px;
	margin-left: 2%;
}

.finance-desc
{
	margin: 5%;
}

.finance-desc-image
{
	width: 75px;
	height:75px;
	border-radius: 75px;
	margin-left: 2%;
}

.team-item
{
	width: 33%;
	text-align: center;
	float:left
}

.team-desc-image
{
	margin-left: 5%;
}

.team-desc-name
{
	text-align: center;
}
.team-desc-value
{
	text-align: center;
}

.footer-tip
{
    background-color:orange;
	z-index:999;
	position:fixed;
	bottom:0;
	left:0;
	width:100%;
	_position:absolute;
	overflow:visible;
	height: 10%;
}

.footer-tip-image
{
	width: 9%;
	height: auto;
	margin-left: 20%;
	float:left;
	margin-top:2%;
}

.tip-content
{
	color: white;
	font-size: 130%;
	margin-left : 33%;
	margin-top:5%;
}